project_id     = "fixcomap-core"
project_number = "<numero de proyecto>"
region       = "europe-west1"
state_bucket     = "fixcomap-core-tfstate"
state_bucket_app = "fixcomap-core-tfstate-app"
github_org   = "fixcomap"
github_repo  = "platform"
wif_pool_id  = "github"
cloud_run_service_name = "app"
app_public             = false
